nav{
    display:flex;
    justify-content: center;
}

h1{
    display:flex;
    justify-content: center;
    color:red;
}
h2{
    display:flex;
    justify-content: center;
    color:blue;
}
.mainP{
    display:flex;
    justify-content: center;
}
.mainH3{
    display:flex;
    justify-content: center;
    color:orange;
}
ul{
    display:flex;
    text-align:center;
    flex-direction: column;
    list-style-position: inside;
}
li{
    margin:2px;
}
ol{
    display:flex;
    text-align:center;
    flex-direction: column;
    list-style-position: inside;
    
}
.infoH3{
    color:orange;
}